USE [master]
GO

-- 1. Thêm đoạn này để ép xóa Database cũ (nếu nó đang bị kẹt lỗi)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'GamingGearShop')
BEGIN
    ALTER DATABASE [GamingGearShop] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [GamingGearShop];
END
GO

-- 2. Tạo Database mới cực kỳ ngắn gọn (Bỏ hết đường dẫn đi)
CREATE DATABASE [GamingGearShop]
GO

-- 3. Tiếp tục các lệnh setup của bạn...
ALTER DATABASE [GamingGearShop] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GamingGearShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

-- ... (TỪ ĐOẠN NÀY TRỞ XUỐNG BẠN GIỮ NGUYÊN Y HỆT CODE CŨ CỦA BẠN) ...
ALTER DATABASE [GamingGearShop] SET ANSI_NULL_DEFAULT OFF 
GO
USE [GamingGearShop]
GO
/****** Object:  Table [dbo].[tblBanners]    Script Date: 3/22/2026 12:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBanners](
	[BannerID] [int] IDENTITY(1,1) NOT NULL,
	[ImageURL] [nvarchar](500) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBrands]    Script Date: 3/22/2026 12:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrands](
	[brandID] [varchar](10) NOT NULL,
	[brandName] [nvarchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__tblBrand__06B772B990FE1373] PRIMARY KEY CLUSTERED 
(
	[brandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCart]    Script Date: 3/22/2026 12:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCart](
	[cartID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTID] [varchar](10) NULL,
	[QUANTITY] [int] NULL,
	[USERID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategories]    Script Date: 3/22/2026 12:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategories](
	[catID] [varchar](10) NOT NULL,
	[catName] [nvarchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__tblCateg__17B6DD2698205EC2] PRIMARY KEY CLUSTERED 
(
	[catID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeedbacks]    Script Date: 3/22/2026 12:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeedbacks](
	[feedID] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](500) NULL,
	[rating] [int] NULL,
	[userID] [varchar](50) NULL,
	[productID] [varchar](10) NULL,
	[date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 3/22/2026 12:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetails](
	[detailID] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[orderID] [int] NOT NULL,
	[productID] [varchar](10) NOT NULL,
 CONSTRAINT [PK__tblOrder__830778397EC137D4] PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrders]    Script Date: 3/22/2026 12:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrders](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [date] NOT NULL,
	[total] [money] NOT NULL,
	[userID] [varchar](50) NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__tblOrder__0809337D913C33EA] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 3/22/2026 12:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[productID] [varchar](10) NOT NULL,
	[productName] [nvarchar](500) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NULL,
	[description] [nvarchar](500) NULL,
	[imageURL] [nvarchar](max) NULL,
	[status] [bit] NOT NULL,
	[catID] [varchar](10) NOT NULL,
	[brandID] [varchar](10) NOT NULL,
 CONSTRAINT [PK__tblProdu__2D10D14A3651DA96] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 3/22/2026 12:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[userID] [varchar](50) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[password] [varchar](100) NULL,
	[roleID] [int] NOT NULL,
	[address] [nvarchar](200) NULL,
	[phone] [varchar](15) NULL,
	[status] [bit] NOT NULL,
	[email] [varchar](100) NULL,
	[otp] [varchar](10) NULL,
 CONSTRAINT [PK__tblUsers__CB9A1CDFD4466B23] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblBanners] ON 

INSERT [dbo].[tblBanners] ([BannerID], [ImageURL], [Title], [Status]) VALUES (1, N'uploads/banners/banner1.jpg', N'Banner 1', 1)
INSERT [dbo].[tblBanners] ([BannerID], [ImageURL], [Title], [Status]) VALUES (2, N'uploads/banners/banner2.jpg', N'Banner 2', 1)
SET IDENTITY_INSERT [dbo].[tblBanners] OFF
GO
INSERT [dbo].[tblBrands] ([brandID], [brandName], [status]) VALUES (N'B01', N'Logitech', 1)
INSERT [dbo].[tblBrands] ([brandID], [brandName], [status]) VALUES (N'B02', N'Razer', 1)
INSERT [dbo].[tblBrands] ([brandID], [brandName], [status]) VALUES (N'B03', N'Akko', 1)
GO
INSERT [dbo].[tblCategories] ([catID], [catName], [status]) VALUES (N'C01', N'Chuột Gaming', 1)
INSERT [dbo].[tblCategories] ([catID], [catName], [status]) VALUES (N'C02', N'Bàn Phím Cơ', 1)
INSERT [dbo].[tblCategories] ([catID], [catName], [status]) VALUES (N'C03', N'Tai Nghe', 1)
GO
SET IDENTITY_INSERT [dbo].[tblFeedbacks] ON 

INSERT [dbo].[tblFeedbacks] ([feedID], [content], [rating], [userID], [productID], [date]) VALUES (46, N'Bàn phím 75% layout rất cân đối', 5, N'nguyenvanan99', N'P01', CAST(N'2026-01-05' AS Date))
INSERT [dbo].[tblFeedbacks] ([feedID], [content], [rating], [userID], [productID], [date]) VALUES (47, N'AULA F75 bản này màu đen huyền bí', 4, N'vuvangiang', N'P01', CAST(N'2026-01-12' AS Date))
INSERT [dbo].[tblFeedbacks] ([feedID], [content], [rating], [userID], [productID], [date]) VALUES (48, N'Gõ có tiếng thunk thunk rất dễ chịu', 5, N'phamvanson', N'P01', CAST(N'2026-01-20' AS Date))
SET IDENTITY_INSERT [dbo].[tblFeedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[tblOrderDetails] ON 

INSERT [dbo].[tblOrderDetails] ([detailID], [price], [quantity], [orderID], [productID]) VALUES (1, 149000, 1, 1, N'P02')
INSERT [dbo].[tblOrderDetails] ([detailID], [price], [quantity], [orderID], [productID]) VALUES (2, 180000, 1, 2, N'P01')
INSERT [dbo].[tblOrderDetails] ([detailID], [price], [quantity], [orderID], [productID]) VALUES (3, 180000, 1, 3, N'P01')
SET IDENTITY_INSERT [dbo].[tblOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblOrders] ON 

INSERT [dbo].[tblOrders] ([orderID], [orderDate], [total], [userID], [status]) VALUES (1, CAST(N'2026-03-01' AS Date), 149000.0000, N'admin', 1)
INSERT [dbo].[tblOrders] ([orderID], [orderDate], [total], [userID], [status]) VALUES (2, CAST(N'2026-03-01' AS Date), 180000.0000, N'admin', 1)
INSERT [dbo].[tblOrders] ([orderID], [orderDate], [total], [userID], [status]) VALUES (3, CAST(N'2026-03-02' AS Date), 180000.0000, N'admin', 1)
SET IDENTITY_INSERT [dbo].[tblOrders] OFF
GO
INSERT [dbo].[tblProducts] ([productID], [productName], [price], [quantity], [description], [imageURL], [status], [catID], [brandID]) VALUES (N'P01', N'Chuột Không Dây Máy Tính Bluetooth X7 Wireless Pin Sạc Kết Nối 2 Chế Độ Cho Mọi Thiết Bị Máy Tính, Laptop', 180000, 97, N'Chuột Không Dây Máy Tính Bluetooth X7 Wireless', N'uploads/products/Mouse-Wireless-X7.jpg
', 1, N'C01', N'B08')
INSERT [dbo].[tblProducts] ([productID], [productName], [price], [quantity], [description], [imageURL], [status], [catID], [brandID]) VALUES (N'P02', N'Chuột Không Dây Gaming Wolf X8 LED 7 Màu RGB, Pin Có Thể Sạc Dùng Cực Lâu, Chuột Chơi Game Không Dây
', 149000, 186, N'Chuột Không Dây Gaming Wolf X8 LED 7', N'uploads/products/Mouse-Wolf-X8.jpg', 1, N'C01', N'B08')
INSERT [dbo].[tblProducts] ([productID], [productName], [price], [quantity], [description], [imageURL], [status], [catID], [brandID]) VALUES (N'P024', N'Chuột có dây Gaming Logitech G102 LightSync Gen 2', 300000, 45, N'không có', N'uploads/products/P024.jpg', 1, N'C01', N'B01')
GO
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [address], [phone], [status], [email], [otp]) VALUES (N'admin', N'Quản Trị Viên', N'$2a$12$ZPWsrIZL.V5nLecYUOUKQOQnOEvSyIBIgPoUpPLWwehL8D9Gm1Xka', 1, N'HCM', N'0909999999', 1, NULL, NULL)
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [address], [phone], [status], [email], [otp]) VALUES (N'buithicam', N'Bùi Thị Cẩm', N'$2a$12$TOwPBUKCc.5ES2z/SnF5ROD5gvUBB32I9J1/4anoBijVZAo8iwzgW', 2, N'Ðà Nẵng', N'0901234549', 1, N'buithicam@gmail.com', NULL)
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [address], [phone], [status], [email], [otp]) VALUES (N'buithisuong', N'Bùi Thị Sương', N'$2a$12$TOwPBUKCc.5ES2z/SnF5ROD5gvUBB32I9J1/4anoBijVZAo8iwzgW', 2, N'Cần Thơ', N'0901234539', 1, N'buithisuong@gmail.com', NULL)
GO
ALTER TABLE [dbo].[tblBanners] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[tblBrands] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[tblCategories] ADD  CONSTRAINT [DF_tblCategories_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[tblFeedbacks] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[tblOrders] ADD  CONSTRAINT [DF__tblOrders__order__403A8C7D]  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[tblCart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[tblProducts] ([productID])
GO
ALTER TABLE [dbo].[tblCart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[tblCart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([USERID])
REFERENCES [dbo].[tblUsers] ([userID])
GO
ALTER TABLE [dbo].[tblCart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[tblFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feed_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[tblProducts] ([productID])
GO
ALTER TABLE [dbo].[tblFeedbacks] CHECK CONSTRAINT [FK_Feed_Product]
GO
ALTER TABLE [dbo].[tblFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feed_User] FOREIGN KEY([userID])
REFERENCES [dbo].[tblUsers] ([userID])
GO
ALTER TABLE [dbo].[tblFeedbacks] CHECK CONSTRAINT [FK_Feed_User]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OD_Order] FOREIGN KEY([orderID])
REFERENCES [dbo].[tblOrders] ([orderID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_OD_Order]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OD_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[tblProducts] ([productID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_OD_Product]
GO
ALTER TABLE [dbo].[tblOrders]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([userID])
REFERENCES [dbo].[tblUsers] ([userID])
GO
ALTER TABLE [dbo].[tblOrders] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([brandID])
REFERENCES [dbo].[tblBrands] ([brandID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_Product_Cat] FOREIGN KEY([catID])
REFERENCES [dbo].[tblCategories] ([catID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_Product_Cat]
GO
USE [master]
GO
